lime/samples/epg/lab_mio/lab_mio/cgi/PowerUsageService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://power.starhomeWS" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://power.starhomeWS">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://power.starhomeWS">
            <xs:element name="getYrlyMainUsageResponse">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRealtimeMeterReadingResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType"/>
                    </xs:sequence>

                </xs:complexType>
            </xs:element>
            <xs:element name="getPrevMeterReadingResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getMthlyMainUsageResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDailyMainUsageResponse">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getMthlyMainUsageRequest"/>
    <wsdl:message name="getMthlyMainUsageResponse">

        <wsdl:part name="parameters" element="ns:getMthlyMainUsageResponse"/>
    </wsdl:message>
    <wsdl:message name="getRealtimeMeterReadingRequest"/>
    <wsdl:message name="getRealtimeMeterReadingResponse">
        <wsdl:part name="parameters" element="ns:getRealtimeMeterReadingResponse"/>
    </wsdl:message>
    <wsdl:message name="getPrevMeterReadingRequest"/>
    <wsdl:message name="getPrevMeterReadingResponse">
        <wsdl:part name="parameters" element="ns:getPrevMeterReadingResponse"/>

    </wsdl:message>
    <wsdl:message name="getYrlyMainUsageRequest"/>
    <wsdl:message name="getYrlyMainUsageResponse">
        <wsdl:part name="parameters" element="ns:getYrlyMainUsageResponse"/>
    </wsdl:message>
    <wsdl:message name="getDailyMainUsageRequest"/>
    <wsdl:message name="getDailyMainUsageResponse">
        <wsdl:part name="parameters" element="ns:getDailyMainUsageResponse"/>
    </wsdl:message>

    <wsdl:portType name="PowerUsageServicePortType">
        <wsdl:operation name="getMthlyMainUsage">
            <wsdl:input message="ns:getMthlyMainUsageRequest" wsaw:Action="urn:getMthlyMainUsage"/>
            <wsdl:output message="ns:getMthlyMainUsageResponse" wsaw:Action="urn:getMthlyMainUsageResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getRealtimeMeterReading">
            <wsdl:input message="ns:getRealtimeMeterReadingRequest" wsaw:Action="urn:getRealtimeMeterReading"/>
            <wsdl:output message="ns:getRealtimeMeterReadingResponse" wsaw:Action="urn:getRealtimeMeterReadingResponse"/>
        </wsdl:operation>

        <wsdl:operation name="getPrevMeterReading">
            <wsdl:input message="ns:getPrevMeterReadingRequest" wsaw:Action="urn:getPrevMeterReading"/>
            <wsdl:output message="ns:getPrevMeterReadingResponse" wsaw:Action="urn:getPrevMeterReadingResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getYrlyMainUsage">
            <wsdl:input message="ns:getYrlyMainUsageRequest" wsaw:Action="urn:getYrlyMainUsage"/>
            <wsdl:output message="ns:getYrlyMainUsageResponse" wsaw:Action="urn:getYrlyMainUsageResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getDailyMainUsage">

            <wsdl:input message="ns:getDailyMainUsageRequest" wsaw:Action="urn:getDailyMainUsage"/>
            <wsdl:output message="ns:getDailyMainUsageResponse" wsaw:Action="urn:getDailyMainUsageResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PowerUsageServiceSoap11Binding" type="ns:PowerUsageServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getMthlyMainUsage">
            <soap:operation soapAction="urn:getMthlyMainUsage" style="document"/>
            <wsdl:input>

                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRealtimeMeterReading">
            <soap:operation soapAction="urn:getRealtimeMeterReading" style="document"/>
            <wsdl:input>

                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPrevMeterReading">
            <soap:operation soapAction="urn:getPrevMeterReading" style="document"/>
            <wsdl:input>

                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getYrlyMainUsage">
            <soap:operation soapAction="urn:getYrlyMainUsage" style="document"/>
            <wsdl:input>

                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDailyMainUsage">
            <soap:operation soapAction="urn:getDailyMainUsage" style="document"/>
            <wsdl:input>

                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="PowerUsageServiceSoap12Binding" type="ns:PowerUsageServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>

        <wsdl:operation name="getMthlyMainUsage">
            <soap12:operation soapAction="urn:getMthlyMainUsage" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getRealtimeMeterReading">
            <soap12:operation soapAction="urn:getRealtimeMeterReading" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getPrevMeterReading">
            <soap12:operation soapAction="urn:getPrevMeterReading" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getYrlyMainUsage">
            <soap12:operation soapAction="urn:getYrlyMainUsage" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getDailyMainUsage">
            <soap12:operation soapAction="urn:getDailyMainUsage" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

    </wsdl:binding>
    <wsdl:binding name="PowerUsageServiceHttpBinding" type="ns:PowerUsageServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getMthlyMainUsage">
            <http:operation location="PowerUsageService/getMthlyMainUsage"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getMthlyMainUsage"/>
            </wsdl:input>
            <wsdl:output>

                <mime:content type="text/xml" part="getMthlyMainUsage"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRealtimeMeterReading">
            <http:operation location="PowerUsageService/getRealtimeMeterReading"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getRealtimeMeterReading"/>
            </wsdl:input>
            <wsdl:output>

                <mime:content type="text/xml" part="getRealtimeMeterReading"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPrevMeterReading">
            <http:operation location="PowerUsageService/getPrevMeterReading"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getPrevMeterReading"/>
            </wsdl:input>
            <wsdl:output>

                <mime:content type="text/xml" part="getPrevMeterReading"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getYrlyMainUsage">
            <http:operation location="PowerUsageService/getYrlyMainUsage"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getYrlyMainUsage"/>
            </wsdl:input>
            <wsdl:output>

                <mime:content type="text/xml" part="getYrlyMainUsage"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDailyMainUsage">
            <http:operation location="PowerUsageService/getDailyMainUsage"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getDailyMainUsage"/>
            </wsdl:input>
            <wsdl:output>

                <mime:content type="text/xml" part="getDailyMainUsage"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PowerUsageService">
        <wsdl:port name="PowerUsageServiceHttpSoap11Endpoint" binding="ns:PowerUsageServiceSoap11Binding">
            <soap:address location="http://localhost:8400/axis2/services/PowerUsageService.PowerUsageServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="PowerUsageServiceHttpSoap12Endpoint" binding="ns:PowerUsageServiceSoap12Binding">

            <soap12:address location="http://localhost:8400/axis2/services/PowerUsageService.PowerUsageServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="PowerUsageServiceHttpEndpoint" binding="ns:PowerUsageServiceHttpBinding">
            <http:address location="http://localhost:8400/axis2/services/PowerUsageService.PowerUsageServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
